<html>
	<head>
		<title>
			Subtitle Formatter
		</title>

		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="static/style.css" rel="stylesheet">
	</head>

	<body>
		<div class="container-fluid">
			<div class="header clearfix">
				<nav>
					<ul class="nav nav-pills pull-right">
						<li role="presentation"><a href="https://github.com/zeromus-hf/hs-sub-formatter">Script Source</a></li>
						<li role="presentation"><a href="https://github.com/zeromus-hf/hs-formatter-flask">Site Source</a></li>
						<li role="presentation"><a href="https://github.com/zeromus-hf/HoneySelect-Hongfire-Translation">HoneySelect Translation</a></li>
						<li role="presentation"><a href="http://www.hongfire.com/forum/forum/hentai-lair/hf-modding-translation/honey-select-mods/5716891-wip-all-in-one-english-translation?p=5775371#post5775371">?</a></li>
					</ul>
				</nav>
				<h3 class="text-muted">Subtitle Formatter</h3>
			</div>

			{% for message in errors %}
				<div class="alert alert-danger">
					{{ message|e }}
				</div>
			{% endfor %}

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<label>Input</label>
						</div>
						<div class="panel-body">
							<textarea class="input-box">{{ input|e }}</textarea>
						</div>
						<div class="panel-footer">
							<div id="submit-button" class="btn btn-primary">Submit</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">

					<div class="panel panel-default">
						<div class="panel-heading">
							<label>Output</label>
						</div>
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-12">
										<textarea readonly class="input-box">{{ output|e }}</textarea>
									</div>
								</div>
								<div class="row">
									{% if stdout %}
										<div class="col-sm-12">
											<pre>{{ stdout|e }}</pre>
										</div>
									{% endif %}
								</div>
							</div>
						</div>
						<!--
						<div class="panel-footer">
							<div class="btn btn-primary">Save</div>
						</div>
						-->
					</div>

				</div>
			</div>

		</div>

		<form action='index' method='POST'>
			<input name="input" type="hidden">
		</form>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>

		<script>
			! function ($) {

				$('#submit-button').on('click', function () {
					$('form > input').val($('.input-box').val());

					$('form').submit();
				});

			} (jQuery);
		</script>
	</body>
</html>

